{{header}}

<div class="container">
  <h1 class="title">Checkout</h1>

  <ul class="navigation">
    <a href="{{ url_checkout_new }}">
      <li>I’m New</li>
    </a>
    <a href="{{ url_checkout_existing }}">
      <li class="active">I Have an Account</li>
    </a>
  </ul>
</div>

<div class="container content">
  <div class="block customer-info">
    <p class="fields-title">Contact information</p>
    <div class="field">
      <p>James Thor</p>
      <a href="{{profile_url}}">Change</a>
    </div>

    <p class="fields-title">Delivery Information</p>
    <div class="field">
      <p>Kyiv, Nova Poshta branch № 1234 </p>
      <a href="{{profile_url}}">Change</a>
    </div>
  </div>
  <div class="block summary">
    <p class="text-20 summary-title">Order Summary</p>
    <div class="subtotal line">
      <p class="text-16">Subtotal</p>
      <p class="text-20">$35</p>
    </div>
    <div class="discount line">
      <p class="text-16">Discount</p>
      <p class="text-20">0</p>
    </div>
    <div class="separator"></div>
    <div class="total line">
      <p class="text-16">Total</p>
      <p class="text-20">$35</p>
    </div>
    <a href="{{ url_checkout_new }}">
      <ui-button-secondary class="button">
        <span slot="text">Continue to Checkout</span>
      </ui-button-secondary>
    </a>
  </div>
</div>



{{footer}}