<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
	<head>
		<meta charset="UTF-8"/>
		<title>{{ title }}</title>
		<base href="{{ base }}"/>
		{% if description %}
			<meta name="description" content="{{ description }}"/>
		{% endif %}
		{% if keywords %}
			<meta name="keywords" content="{{ keywords }}"/>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<link href="{{ icons }}" rel="stylesheet" type="text/css"/>
		<link href="{{ stylesheet }}" rel="stylesheet" type="text/css"/>
		<link href="{{ components }}" rel="stylesheet" type="text/css"/>
		<link href="view/stylesheet/admin_custom.css" rel="stylesheet" type="text/css"/>
		<script src="{{ jquery }}" type="text/javascript"></script>
		<script type="text/javascript" src="view/javascript/common.js"></script>
		{% for style in styles %}
			<link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}"/>
		{% endfor %}
		{% for link in links %}
			<link href="{{ link.href }}" rel="{{ link.rel }}"/>
		{% endfor %}
		{% for script in scripts %}
			<script type="text/javascript" src="{{ script.href }}"></script>
		{% endfor %}
	</head>
	<body>
		<div id="alert"></div>
		<div id="container">
			<header id="header" class="navbar navbar-expand navbar-light border-bottom" style="position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 1000;">
				<div class="container-fluid">
					<a href="{{ home }}" class="navbar-brand" style="padding: 0 50px;">
						<span style="font-size: 24px; font-weight: 600; color: #1F1F1F; letter-spacing: -0.5px;">SkyFix</span>
					</a>
				</div>
			</header>
